body {
  background-color: #e5e5e5;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
  color:black;
}

.card {
  background-color: #2f4f4f;
  color: white;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  font-size:20px;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
