body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.app {

  display: flex;

  gap: 30px;

  padding: 40px;

}


/* LEFT SIDE */

.directory {

  width: 320px;
  background:white;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;

}


.card {
  width: 320px;
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}


